---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
redirect_from:
  - /research
---

{% include base_path %}

<ul>
  <li>Make Whole Litigation in Bankruptcy, <em>43 Yale Journal on Regulation ___</em> (Note; forthcoming 2026)</li>
  <li>The Economic Consequences of Farm Foreclosure Moratoria (with Ewan Rawcliffe)</li>
  <li>Too Liable To Regulate: The Hidden Costs of Fossil Fuel Production (with Joshua Macey and Terra Baer)</li>
  <li>A Markets Based Approach to Public Utility Ratemaking (with Mark Ellis)</li>
  <li>Rethinking the Politics of Abundance (with Yehonatan Givati and Kishore Chundi)</li>
</ul>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



